html{
  scroll-behavior: smooth;
}

body{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins',sans-serif;
}

button{
  cursor: pointer;
}

#p1{
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    height: 100vh;
    width: 100vw;
}

#p2{
  background-color: #322B2B;
  height: 100vh;
  width: 100vw;
  overflow: auto; 
}

#p3{
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  overflow: auto; 
}

#p2 h1{
  color:white;
  margin-top: 10vh;
}

#presentation{
  margin-top: 3rem;
  margin-bottom: 5rem;
  display: flex;
  background-color: #322B2B;
  margin-inline: 20rem;
  border-radius: 5rem;
  flex-direction: column;
  align-items: center;
  color: white;
}

#presentation img{
  border-radius: 4px;
}

#presentation div{
  display: flex;
  flex-direction: row;
  margin-inline: 1.5rem;
}

#presentation div div img{
  height: 20rem;
}

#presentation div div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.pres{
  margin-inline: 2rem;
  font-weight: light;
  font-size: 150%;
}

h1{
  text-align: center;
}

#proj{
  text-align: center;
  font-size: 175%;
  margin:10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#contact{
  position: absolute;
  width: 20vw;
  height: 15vh;
  top: 75vh;
  left: 7vw;
}

#contact p{
  color: #322B2B;
}

#contact h2{
  color: #322B2B;
}

#arrowdiv1{
  position: absolute;
  width: 8vw;
  height: 10vh;
  top: 85vh;
  left: 46vw;
}

#arrowdiv2{
  position: absolute;
  width: 8vw;
  height: 10vh;
  top: 185vh;
  left: 46vw;
}

#arrowlink{
  position: absolute;
  width:100%;
  height:100%;
}

.arrow {
  left: 4vw;
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.arrow span {
  display: block;
  width: 3vw;
  height: 3vw;;
  border-bottom: 5px solid #322B2B;
  border-right: 5px solid #322B2B;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

#arrowdiv2 .arrow span{
  border-bottom: 5px solid white;
  border-right: 5px solid white;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
      opacity: 0;
      transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
      opacity: 1;
  }
  100% {
      opacity: 0;
      transform: rotate(45deg) translate(20px, 20px);
  }
}

ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

#complist{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#complist h1{
  width: 100%;
  text-align: center;
}

.comp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
  justify-content: space-around;
}

.comp h1{
  width: 100%;
  text-align: center;
}

.comp div{
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 33%;
  margin:0;
  padding:0;
  margin-bottom: 5%;

}

.comp div p{
  color: white;
  text-align: center;
}

.comp div img{
  height: 7rem;
  filter: grayscale(0.5);
  transition: .3s ease-in-out;
}

.comp div img:hover{
  filter: grayscale(0);
  transform: scale(120%);
}

.retex{
  display: flex;
  width: 49vw;
  margin: 0;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

.retexp{
  background-color: #322B2B;
  color:white;
  width: 40rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  font-size: 175%;
  margin: 0;
  z-index: 1;
  border: solid 0.2rem white;
  text-align: center;
}

.retexspace{
  display: flex;
  background-size: cover;
  overflow: hidden;
  width: 40rem;
  height: 0;
  color: #000;   
  line-height: 50px;
  transform: translateY(-100%);
  transition: .5s ease-in-out;
  z-index: 0;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.retexp:hover + div
{
  transform: translateY(0%);
  height: 23rem;
}

.retexspace:hover{
  transform: translateY(0%);
  height: 23rem;
}

.buttondiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
  padding-top: 50%;
}

.buttondiv button{
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 1rem;
  transition: 0.5s;
  border: solid 0.1rem black;
  color: white;
  border-radius: 0.3rem;
  font-size: 125%;
  font-weight: 500;
  padding: 0.7rem;
  width: 20%;
}


.pdf{
  background-color: #322B2B;
}

.pdf:hover{
  background-color: #ff0000;
  border-color:#750202;
}

#pixel{
  background-image: url(./images/La\ guerre\ des\ pixels.png);
}

#towa{
  background-image: url(./images/Towa\ jeu\ .png);
}

#towIA{
  background-image: url(./images/Développement\ d’une\ IA.png);
}

#odomo{
  background-image: url(./images/Odomo.png);
}

#BD{
  background-image: url(./images/Mise\ en\ place\ d’une\ base\ de\ donnée.png);
}

#web{
  background-image: url(./images/Développement\ d’un\ site\ web.png);
}

  @media (max-width:900px)  { /* smartphones, iPhone, portrait 480x320 phones */
    #p1{
      background-color: #322B2B;
    }

    h1{
      font-size:larger;
    }
    
    #presentation{
      margin-inline: 0;
      margin-top: 0;
      border-radius: 0;
    }
  
    #pres{
      font-size: small;
      margin: 1rem;
    }

    #proj{
      font-size: medium;
      margin-top: 1rem;
    }

    .arrow span{
      border-color: white;
    }
  
    .retexp{
      width: 100vw;
      font-size: medium;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-right: 0;
      padding-left: 0;
      border-radius: 0;

    }

    .retexspace{
      width: 100vw;
      padding-bottom: 0.5rem;
      padding-right: 0;
      padding-left: 0;
    }

    .retexp:hover + div{
      height: 11rem;
    }

    .retexspace:hover{
      height: 11rem;
    }

    ul{
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 0;
      padding: 0;
    }

  }

  @media (max-width:1200px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }


